---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "en").slice(0, MAX_POSTS);
---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hi There</h1>
		<p class="mb-4 sm:mb-8">
			I'm Raffaele Villani, a software engineer current working on financial service back-end.
			In the free time i like working on game related things and so here i will talk about new things that i discover in that field.
			Right now i am working on a custom game engine for 2D games and i will share my knowledge here.
		</p>
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks />
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>
</BaseLayout>
